.tetris-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.tetris-game {
  width: 500px;
  height: 800px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, auto);
}
.tetris-cell {
  border: 1px solid var(--primary-color);
}
.tetris-piece {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.tetris-piece > div {
  border: 1px solid white;
}