@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #EC2B60;
    --secondary-color: #0F0920;
    --blue-color:rgb(0, 255, 204); 
    --text-color: #D9D9D9;
    --font-family: 'Poppins', sans-serif; 
    --transition: 0.3s ease-in-out;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-family);
    background-image: url('/BACKGROUNDS.jpg');
    background-size: cover;
    color: var(--text-color);
    line-height: 1.5;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul, ol {
    list-style: none;
  }
  img {
    max-width: 100%;
    display: block;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    gap: 1rem;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-center {
    text-align: center;
  }  
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
    position: relative;
  }
